<% if current_user.favorited_by?(@post.id) %>
    <td>
        <%= link_to 'いいね外す', destroy_favorite_path(@post), method: :DELETE %>
        <%= @post.favorites.count %>
    </td>
<% else %>
    <td>
        <%= link_to 'いいねする', create_favorite_path(@post), method: :POST %>
        <%= @post.favorites.count %>
    </td>
<% end %>